{% load static %}

<div class="gallery">
    <button class="nav prev">❮</button>

    <div class="slides">
        <div class="slide active">
            <img src="/media/cat1.jpg">
            <div class="caption">Насосы и насосные станции</div>
        </div>

        <div class="slide">
            <img src="/media/cat2.png">
            <div class="caption">Генераторы и комплектующие</div>
        </div>

        <div class="slide">
            <img src="/media/cat3.png">
            <div class="caption">Дождевальные машины</div>
        </div>
    </div>

    <button class="nav next">❯</button>
</div>