.product-card {
    background: #fff;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
    text-align: center;
    height: 300px; /* фиксированная высота */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}

.product-card img {
    max-width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}

.product-title {
    font-weight: bold;
    font-size: 1rem;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* предотвращает перенос */
}

.product-price {
    color: #e67e22;
    font-size: 1.1rem;
    font-weight: bold;
}


.back-btn {
    background: linear-gradient(135deg, #e67e22, #d35400);
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 20px;
}

.back-btn:hover {
    background: linear-gradient(135deg, #f39c12, #e67e22); /* ярко-оранжевый */
    transform: scale(1.08); /* лёгкое увеличение */
    color: #fff; /* текст остаётся белым */
    text-decoration: none; /* не подчёркивается */
}