.subcategory-card {
    background: #fff;
    border-radius: 10px;
    padding: 0;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: stretch; /* Растягиваем содержимое */
    margin-bottom: 1.5rem;
    overflow: hidden; /* Важно для сохранения rounded corners */
}

.subcategory-card:hover {
    transform: scale(1.15); /* увеличиваем карточку */
    box-shadow: 0 8px 18px rgba(0,0,0,0.25); /* добавляем более глубокую тень */
}

.subcategory-card img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 0px;
}

.subcategory-title {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 10px 0;
    color: #333;
}

.back-btn {
    background: linear-gradient(135deg, #e67e22, #d35400);
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 20px;
}

.back-btn:hover {
    background: linear-gradient(135deg, #f39c12, #e67e22);
    transform: scale(1.08);
    color: #fff;
    text-decoration: none;
}